*{
    margin: 0;
    padding: 0;
}
.fs{
    background-color: #0D6EFD;
    padding: 7rem 0;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    
}
.fs p{
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.fs button{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}
.sc{
    color: #ffffff;
    padding-top: 9rem;
    padding-bottom: 9rem;
}
.sc h1{
    color: #212529;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.325rem + 0.9vw);
    margin-right: 700px;
}
.sc p{
    margin-left:300px;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
}
.list{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-left: 300px;
    color: #212529;
    font-size: 16px;
    margin-top: -8rem;
}
.fs1{
    background: color black;
    padding-top: 9rem;
    padding-bottom: 9rem;
    box-sizing: border-box
}
.fs1 h1{
    font-size: calc(1.325rem + 0.9vw);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 300px;
}
.fs1 p{
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 300px;
    color: #6c757d
}
.fs3{
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-color: transparent;
}
.fs3 h1{
    color: #212529;
    font-size: calc(1.325rem + 0.9vw);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 300px;
}
.fs3 p{
    color: #6c757d;
    margin-left: 300px;
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem
}
.color{
    background-color: rgb(33, 37, 41);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.color1{
    background-color: rgb(33, 37, 41);
    padding-top: 3rem;
    padding-bottom: 3rem;
}


